[run]
parallel = True
concurrency = multiprocessing
branch = True
include =
    ka_be_offer/api/*
    ka_be_offer/apps/*
    ka_be_offer/clients/*
    ka_be_offer/drf/*
    ka_be_offer/event_handlers/*
    ka_be_offer/libs/*
    ka_be_offer/services/*
    ka_be_offer/tasks/*
    ka_be_offer/utils/*
omit =
    */__init__.py
    */fixtures/*
    */migrations/*
    */models.py
    */config.py
